#wrapper {
	width: auto;
	 height: auto;
	 box-sizing: border-box;
	 display: grid;
	 grid-auto-flow: row;
	 grid-template-columns: repeat(6, 1fr);
 }

 #wrapper2 {
	width: auto;
	 height: auto;
	 box-sizing: border-box;
	 display: grid;
	 grid-auto-flow: row;
	 grid-template-columns: repeat(6, 1fr);
 }

 #wrapper3 {
	width: auto;
	 height: auto;
	 box-sizing: border-box;
	 display: grid;
	 grid-auto-flow: row;
	 grid-template-columns: repeat(6, 1fr);
 }

 #wrapper4 {
	width: auto;
	 height: auto;
	 box-sizing: border-box;
	 display: grid;
	 grid-auto-flow: row;
	 grid-template-columns: repeat(6, 1fr);
 }
 
 .myCircle:hover {
	stroke: black;
  }
  
 #my_dataviz1{
	 text-align: left;
	 grid-column: 1/4;
 }
 
 #my_dataviz2 {
	 text-align: right;
	 grid-column: 4/6;
 }

 #my_dataviz3{
	text-align: left;
	grid-column: 1/4;
}

#my_dataviz4 {
	text-align: right;
	grid-column: 4/6;
}

.text-left-right {
    text-align: right;
    position: relative;
}

.text-left-center {
    text-align: center;
    position: relative;
}

.left-text {
    left: 20%;
    position: absolute;
}

.left-text2 {
    left: 35%;
    position: absolute;
}

.byline {
	left: 60%;
    position: absolute;
}

.node:hover{
  stroke-width: 7px !important;
  opacity: 1 !important;
}

h2 {
    color:#069;
}